<tr>
  <td class="padding-y16 padding-x24">
    <p class="dp-footer__reminder">
      Email ini dibuat secara otomatis. Mohon tidak mengirimkan balasan ke email
      ini.
    </p>

  </td>
</tr>

<tr>
  <td class="padding-xy24 dp-footer__contact">
    <table class="full" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          If you no longer wish to receive email from us, you can <a href="#!" target="_blank">unsubscribe this
            email</a>
          <br />
          &copy; 2019, PT Dhanapala. All Rights Reserved.
        </td>
      </tr>
    </table>
  </td>
</tr>