<tr>
  <td class="padding-y16 padding-x24">
    <p class="ft-footer__reminder">
      Email ini dibuat secara otomatis. Mohon tidak mengirimkan balasan ke email
      ini.
    </p>

    {{#ifequal type 'investment'}}
    <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
      <tr>
        <td width="180px" align="center">
          <a class="ft-footer__product" href="https://www.tokopedia.com/reksa-dana/" target="_blank">
            <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-reksadana_tokopedia.png"
              alt="Icon Tokopedia Reksadana" width="50" />
            <p class="title title--secondary">Reksa Dana</p>
            <p class="desc">Nabung dengan keuntungan hingga 6.5% per tahun</p>
          </a>
        </td>
        <td width="16px"></td>
        <td width="180px" align="center">
          <a class="ft-footer__product" href="https://www.tokopedia.com/emas/" target="_blank">
            <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-emas_tokopedia.png"
              alt="Icon Tokopedia Emas" width="50" />
            <p class="title title--secondary">Emas</p>
            <p class="desc">Bisa langsung nabung emas, mulai dari Rp 500</p>
          </a>
        </td>
        <td width="16px"></td>
        <td width="180px" al ign="center">
          <a class="ft-footer__product" href="https://www.tokopedia.com/gift-card/" target="_blank">
            <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-giftcard_tokopedia.png"
              alt="Icon Tokopedia Gift Card" width="50" />
            <p class="title title--secondary">Gift Card</p>
            <p class="desc">Beri kado untuk kerabat dengan nominal sesukamu</p>
          </a>
        </td>
      </tr>
    </table>
    {{/ifequal}}

    {{#ifequal type 'investment-mutualfund'}}
    <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
      <tr>
        <td width="180px" align="center">
          <a class="ft-footer__product" href="https://www.tokopedia.com/emas/" target="_blank">
            <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-emas_tokopedia.png"
              alt="Icon Tokopedia Emas" width="50" />
            <p class="title title--secondary">Emas</p>
            <p class="desc">Bisa langsung nabung emas, mulai dari Rp 500</p>
          </a>
        </td>
        <td width="16px"></td>
        <td width="180px" align="center">
          <a class="ft-footer__product" href="https://www.tokopedia.com/fm/asuransi-mudik/" target="_blank">
            <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-insurance_tokopedia.png"
              alt="Icon Tokopedia Asuransi" width="50" />
            <p class="title title--secondary">Asuransi</p>
            <p class="desc">Temukan asuransi sesuai dengan kebutuhanmu</p>
          </a>
        </td>
        <td width="16px"></td>
        <td width="180px" al ign="center">
          <a class="ft-footer__product" href="https://www.tokopedia.com/gift-card/" target="_blank">
            <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-giftcard_tokopedia.png"
              alt="Icon Tokopedia Gift Card" width="50" />
            <p class="title title--secondary">Gift Card</p>
            <p class="desc">Beri kado untuk kerabat dengan nominal sesukamu</p>
          </a>
        </td>
      </tr>
    </table>
    {{/ifequal}}

    {{#ifequal type 'investment-gold'}}
    <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
      <tr>
        <td width="180px" align="center">
          <a class="ft-footer__product" href="https://www.tokopedia.com/reksa-dana/" target="_blank">
            <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-reksadana_tokopedia.png"
              alt="Icon Tokopedia Reksadana" width="50" />
            <p class="title title--secondary">Reksa Dana</p>
            <p class="desc">Nabung dengan keuntungan hingga 6.5% per tahun</p>
          </a>
        </td>
        <td width="16px"></td>
        <td width="180px" align="center">
          <a class="ft-footer__product" href="https://www.tokopedia.com/fm/asuransi-mudik/" target="_blank">
            <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-insurance_tokopedia.png"
              alt="Icon Tokopedia Asuransi" width="50" />
            <p class="title title--secondary">Asuransi</p>
            <p class="desc">Temukan asuransi sesuai dengan kebutuhanmu</p>
          </a>
        </td>
        <td width="16px"></td>
        <td width="180px" al ign="center">
          <a class="ft-footer__product" href="https://www.tokopedia.com/gift-card/" target="_blank">
            <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-giftcard_tokopedia.png"
              alt="Icon Tokopedia Gift Card" width="50" />
            <p class="title title--secondary">Gift Card</p>
            <p class="desc">Beri kado untuk kerabat dengan nominal sesukamu</p>
          </a>
        </td>
      </tr>
    </table>
    {{/ifequal}}

    {{#ifequal type 'others-giftcard'}}
    <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
      <tr>
        <td width="180px" align="center">
          <a class="ft-footer__product" href="https://www.tokopedia.com/reksa-dana/" target="_blank">
            <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-reksadana_tokopedia.png"
              alt="Icon Tokopedia Reksadana" width="50" />
            <p class="title title--secondary">Reksa Dana</p>
            <p class="desc">Nabung dengan keuntungan hingga 6.5% per tahun</p>
          </a>
        </td>
        <td width="16px"></td>
        <td width="180px" align="center">
          <a class="ft-footer__product" href="https://www.tokopedia.com/fm/asuransi-mudik/" target="_blank">
            <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-insurance_tokopedia.png"
              alt="Icon Tokopedia Asuransi" width="50" />
            <p class="title title--secondary">Asuransi</p>
            <p class="desc">Temukan asuransi sesuai dengan kebutuhanmu</p>
          </a>
        </td>
        <td width="16px"></td>
        <td width="180px" al ign="center">
          <a class="ft-footer__product" href="https://www.tokopedia.com/pinjaman-online/" target="_blank">
            <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-pinjaman-online_tokopedia.png"
              alt="Icon Tokopedia Pinjaman Online" width="50" />
            <p class="title title--secondary">Pinjaman Online</p>
            <p class="desc">Proses pencairan cepat <br />1-3 hari kerja</p>
          </a>
        </td>
      </tr>
    </table>
    {{/ifequal}}

    {{#ifequal type 'lending'}}
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td width="190px">
          <a class="ft-footer__product" href="https://www.tokopedia.com/mitra-toppers/" target="_blank">
            <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-pinjaman-modal_tokopedia.png"
              alt="Icon Tokopedia Pinjaman Modal" width="50" />
            <p class="title title--secondary">Pinjaman Modal</p>
            <p class="desc">Dapatkan pinjaman modal <br />hingga Rp 5 Milyar</p>
          </a>
        </td>
        <td></td>
        <td width="190px">
          <a class="ft-footer__product" href="https://www.tokopedia.com/pinjaman-online/" target="_blank">
            <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-pinjaman-online_tokopedia.png"
              alt="Icon Tokopedia Pinjaman Online" width="50" />
            <p class="title title--secondary">Pinjaman Online</p>
            <p class="desc">Proses pencairan cepat <br />1-3 hari kerja</p>
          </a>
        </td>
        <td></td>
        <td width="190px">
          <a class="ft-footer__product" href="https://www.tokopedia.com/kartu-kredit/" target="_blank">
            <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-kartu-kredit_tokopedia.png"
              alt="Icon Tokopedia Kartu Kredit" width="50" />
            <p class="title title--secondary">Kartu Kredit</p>
            <p class="desc">Ajukan kartu kredit yang sesuai dengan kebutuhan</p>
          </a>
        </td>
      </tr>
    </table>

    {{/ifequal}}

    {{#ifequal type 'insurance'}}
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td width="190px">
          <a class="ft-footer__product" href="https://www.tokopedia.com/p/handphone-tablet" target="_blank">
            <div class="padding-b8">
              <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-proteksi-gadget.png"
                alt="Tokopedia Proteksi Gadget" height="40" />
            </div>
            <p class="title title--secondary">Proteksi Gadget</p>
            <p class="desc">
              Lindungi perangkat dari kerusakan yang tidak tercakup oleh garansi
              resmi
            </p>
          </a>
        </td>
        <td></td>
        <td width="190px">
          <a class="ft-footer__product" href="https://www.tokopedia.com/flight/" target="_blank">
            <div class="padding-b8">
              <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-asuransi-penerbangan.png"
                alt="Tokopedia Asuransi Penerbangan" height="40" />
            </div>
            <p class="title title--secondary">Asuransi Penerbangan</p>
            <p class="desc">
              Dapatkan biaya kompensasi untuk setiap 2 jam keterlambatan
              perjalanan
            </p>
          </a>
        </td>
        <td></td>
        <td width="190px">
          <a class="ft-footer__product" href="https://tiket.tokopedia.com/kereta-api/" target="_blank">
            <div class="padding-b8">
              <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-asuransi-kereta.png"
                alt="Tokopedia Asuransi Kereta Api" height="40" />
            </div>
            <p class="title title--secondary">Asuransi Kereta Api</p>
            <p class="desc">
              Dapatkan biaya kompensasi untuk untuk setiap pembatalan perjalanan
            </p>
          </a>
        </td>
      </tr>
    </table>

    {{/ifequal}}

    {{#ifequal type 'other'}}
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td width="190px">
          <a class="ft-footer__product" href="https://www.tokopedia.com/" target="_blank">
            <img src="https://ecs7.tokopedia.net/img/wallet/email/icon-marketplace_tokopedia.png" alt="Icon Tokopedia"
              width="45" />
            <p class="title title--primary">Jual Beli Online</p>
          </a>
        </td>
        <td></td>
        <td width="190px">
          <a class="ft-footer__product" href="https://www.tokopedia.com/pulsa/" target="_blank">
            <img src="https://ecs7.tokopedia.net/img/wallet/email/icon-digital_tokopedia.png"
              alt="Icon Tokopedia Digital" width="45" />
            <p class="title title--primary">Produk Digital</p>
          </a>
        </td>
        <td></td>
        <td width="190px">
          <a class="ft-footer__product" href="https://www.tokopedia.com/keuangan/" target="_blank">
            <img src="https://ecs7.tokopedia.net/img/wallet/email/icon-financial_tokopedia.png"
              alt="Icon Tokopedia Keuangan" width="45" />
            <p class="title title--primary">Produk Keuangan</p>
          </a>
        </td>
      </tr>
    </table>

    {{/ifequal}}

    {{#ifequal type 'eg-monthly-report'}}
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <a href="https://www.tokopedia.com/reksa-dana/" target="_blank">
            <table class="ft-product__intro ft-product__intro--mutualfund" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td width="50px" align="center">
                  <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-reksadana_tokopedia.png"
                    alt="Tokopedia ReksaDana">
                </td>
                <td width="499px">
                  <div class="text--wrapper">
                    <p class="title"><b>Reksa Dana</b></p>
                    <p class="desc">Raih keuntungan hingga 6.5% per tahun. Kini, tersedia produk syariah!</p>
                  </div>
                </td>
                <td align="right">
                  <img src="https://ecs7.tokopedia.net/img/wallet/email/ic-caret-right.png" alt="Caret Right" width="8"
                    style="margin-right: 8px;">
                </td>
              </tr>
            </table>
          </a>
        </td>
      </tr>
    </table>
    {{/ifequal}}

    {{#ifequal type 'mf-monthly-report'}}
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <a href="https://www.tokopedia.com/emas/" target="_blank">
            <table class="ft-product__intro ft-product__intro--mutualfund" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td width="50px" align="center">
                  <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-emas_tokopedia.png"
                    alt="Tokopedia Emas">
                </td>
                <td width="499px">
                  <div class="text--wrapper">
                    <p class="title"><b>Emas</b></p>
                    <p class="desc">Bisa langsung nabung emas, mulai dari Rp500</p>
                  </div>
                </td>
                <td align="right">
                  <img src="https://ecs7.tokopedia.net/img/wallet/email/ic-caret-right.png" alt="Caret Right" width="8"
                    style="margin-right: 8px;">
                </td>
              </tr>
            </table>
          </a>
        </td>
      </tr>
    </table>
    {{/ifequal}}
  </td>
</tr>

<tr>
  <td class="padding-xy24">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td align="left" width="300">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <p class="ft-footer__follow-title">
                  Download Aplikasi Tokopedia
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td class="ft-footer__follow-dev">
                      <a target="_blank" href="https://itunes.apple.com/us/app/tokopedia/id1001394201?ls=1&mt=8">
                        <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-app-store_tokopedia.png"
                          alt="App Store" height="44" />
                      </a>
                    </td>
                    <td class="ft-footer__follow-dev">
                      <a target="_blank" href="https://play.google.com/store/apps/details?id=com.tokopedia.tkpd&hl=en">
                        <img
                          src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-google-play_tokopedia.png"
                          alt="Play Store" height="44" />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>

        <td align="right" width="300">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="right">
                <p class="ft-footer__follow-title">Ikuti Kami</p>
              </td>
            </tr>
            <tr>
              <td>
                <ul class="ft-footer__follow-socmed">
                  <li>
                    <a target="_blank" href="https://www.facebook.com/tokopedia/">
                      <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-facebook_tokopedia.png"
                        alt="Logo Facebook" height="44" />
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://www.instagram.com/tokopedia/">
                      <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-instagram_tokopedia.png"
                        alt="Logo Instagram" height="44" />
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://twitter.com/tokopedia/">
                      <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-twitter_tokopedia.png"
                        alt="Logo Twitter" height="44" />
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td class="padding-xy24 ft-footer__contact">
    <table class="full" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          Jika butuh bantuan, gunakan halaman
          <a target="_blank" href="https://www.tokopedia.com/bantuan">Kontak Kami</a>
          <br />
          &copy; 2009-2019, PT Tokopedia
        </td>
      </tr>
    </table>
  </td>
</tr>