<tr>
    <td class="padding-y16 padding-x24">
        <p class="ft-footer__reminder">
            Email ini dibuat secara otomatis. Mohon tidak mengirimkan balasan ke email ini.
        </p>

        {{#ifequal type 'investment'}}
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="190px">
                    <a class="ft-footer__product" href="https://www.tokopedia.com/reksa-dana/" target="_blank">
                        <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-reksadana_tokopedia.png"
                            alt="Icon Tokopedia Reksadana" width="50" />
                        <p class="title title--secondary">Reksa Dana</p>
                        <p class="desc">Nabung dengan keuntungan hingga 7% per tahun</p>
                    </a>
                </td>
                <td></td>
                <td width="190px">
                    <a class="ft-footer__product" href="https://www.tokopedia.com/emas/" target="_blank">
                        <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-emas_tokopedia.png" alt="Icon Tokopedia Emas"
                            width="50" />
                        <p class="title title--secondary">Emas</p>
                        <p class="desc">Bisa langsung nabung emas, mulai dari Rp 500</p>
                    </a>
                </td>
                <td></td>
                <td width="190px">
                    <a class="ft-footer__product" href="https://www.tokopedia.com/gift-card/" target="_blank">
                        <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-giftcard_tokopedia.png"
                            alt="Icon Tokopedia Gift Card" width="50" />
                        <p class="title title--secondary">Gift Card</p>
                        <p class="desc">Beri kado untuk kerabat dengan nominal sesukamu</p>
                    </a>
                </td>
            </tr>
        </table>
        {{/ifequal}}

        {{#ifequal type 'other'}}
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="190px">
                    <a class="ft-footer__product" href="https://www.tokopedia.com/" target="_blank">
                        <img src="https://ecs7.tokopedia.net/img/wallet/email/icon-marketplace_tokopedia.png" alt="Icon Tokopedia"
                            width="45" />
                        <p class="title title--primary">Jual Beli Online</p>
                    </a>
                </td>
                <td></td>
                <td width="190px">
                    <a class="ft-footer__product" href="https://www.tokopedia.com/pulsa/" target="_blank">
                        <img src="https://ecs7.tokopedia.net/img/wallet/email/icon-digital_tokopedia.png" alt="Icon Tokopedia Digital"
                            width="45" />
                        <p class="title title--primary">Produk Digital</p>
                    </a>
                </td>
                <td></td>
                <td width="190px">
                    <a class="ft-footer__product" href="https://www.tokopedia.com/keuangan/" target="_blank">
                        <img src="https://ecs7.tokopedia.net/img/wallet/email/icon-financial_tokopedia.png" alt="Icon Tokopedia Keuangan"
                            width="45" />
                        <p class="title title--primary">Produk Keuangan</p>
                    </a>
                </td>
            </tr>
        </table>
        {{/ifequal}}
    </td>
</tr>

<tr>
    <td class="padding-xy24">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="left" width="300">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <p class="ft-footer__follow-title">Download Aplikasi Tokopedia</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td class="ft-footer__follow-dev">
                                            <a target="_blank" href="https://itunes.apple.com/us/app/tokopedia/id1001394201?ls=1&mt=8">
                                                <img src="https://s3.amazonaws.com/www.betaoutcdn.com/205872016/07/1468233846.png"
                                                    alt="App Store" height="44">
                                            </a>
                                        </td>
                                        <td class="ft-footer__follow-dev">
                                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.tokopedia.tkpd&hl=en">
                                                <img src="https://s3.amazonaws.com/www.betaoutcdn.com/205872016/07/1468233889.png"
                                                    alt="Play Store" height="44">
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>

                <td align="right" width="300">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="right">
                                <p class="ft-footer__follow-title">Ikuti Kami</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="ft-footer__follow-socmed">
                                    <li>
                                        <a target="_blank" href="https://plus.google.com/+tokopedia">
                                            <img src="https://s3.amazonaws.com/www.betaoutcdn.com/300452016/11/1480307802.png"
                                                alt="Logo Google Plus" height="44">
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.facebook.com/tokopedia/">
                                            <img src="https://s3.amazonaws.com/www.betaoutcdn.com/300452016/11/1480307762.png"
                                                alt="Logo Facebook" height="44">
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://twitter.com/tokopedia/">
                                            <img src="https://s3.amazonaws.com/www.betaoutcdn.com/300452016/11/1480307869.png"
                                                alt="Logo Twitter" height="44">
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.instagram.com/tokopedia/">
                                            <img src="https://ecs7.tokopedia.net/img/wallet/email/icon-instagram_tokopedia.png"
                                                alt="Logo Instagram" height="44">
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td class="padding-xy24 ft-footer__contact">
        <table class="full" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td>
                    Jika butuh bantuan, gunakan halaman
                    <a target="_blank" href="https://www.tokopedia.com/bantuan">Kontak Kami</a>
                    <br />
                    &copy; 2009-2019, PT Tokopedia
                </td>
            </tr>
        </table>
    </td>
</tr>