<tr>
  <td class="padding-y16 padding-x24">
    <p class="dp-footer__reminder">
      Mohon tidak mengirimkan balasan ke e-mail ini, silakan <a class="dp-link" href="#!"><b>hubungi kami</b></a>.
    </p>

  </td>
</tr>

<tr>
  <td class="padding-xy24 dp-footer__contact">
    <table class="full" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <a class="dp-link" href="#!"><b>Syarat & Ketentuan</b></a> •
          <a class="dp-link" href="#!"><b>Kebijakan Privasi</b></a> •
          <a class="dp-link" href="#!"><b>FAQ</b></a>
          <br />
          <br />
        </td>
      </tr>
      <tr>
        <td>
          Pesan ini dikirim oleh <a class="dp-link" href="#!"><b>Dhanapala</b></a>. Ciputra World 2, Lantai 53
          <br />
          Jl. Prof. DR. Satrio No.Kav 11 RT 03 / RW 03, Karet Semanggi, Kota Jakarta
          Selatan, 12950
          <br />
          <br />
          &copy; Copyright 2019, Dhanapala. All Rights Reserved.
        </td>
      </tr>
    </table>
  </td>
</tr>