<tr>
  <td class="padding-x24">
    <p class="ft-nw-footer__reminder">
      E-mail ini dibuat secara otomatis, mohon tidak membalas. Jika butuh bantuan, silakan
      <a class="ft-link" target="_blank" href="https://www.tokopedia.com/bantuan/">hubungi kami</a>.
    </p>

    {{#ifequal type 'reksadana'}}
    <table class="ft-nw__wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
      <tr>
        <td width="260px" align="center">
          <a href="https://www.tokopedia.com/emas/" target="_blank">
            <div class="ft-nw-footer__product-img">
              <table>
                <tbody>
                  <tr>
                    <td align="center">
                      <div class="img-container">
                        <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-emas_tokopedia.png"
                          alt="Icon Tokopedia Emas" width="50" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <table>
              <tbody>
                <tr>
                  <td class="ft-nw-footer__product" align="center">
                    <p class="title">Emas</p>
                    <p class="desc">Nabung emas aman dan mudah, mulai dari Rp500</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </a>
        </td>
        <td width="16px"></td>
        <td width="260px" align="center">
          <a href="https://www.tokopedia.com/gift-card/" target="_blank">
            <div class="ft-nw-footer__product-img">
              <table>
                <tbody>
                  <tr>
                    <td align="center">
                      <div class="img-container">
                        <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-giftcard_tokopedia.png"
                          alt="Icon Tokopedia Gift Card" width="50" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <table>
              <tbody>
                <tr>
                  <td class="ft-nw-footer__product" align="center">
                    <p class="title">Gift Card</p>
                    <p class="desc">Beri kado untuk kerabat dengan nominal sesukamu</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </a>

        </td>
      </tr>
    </table>
    {{/ifequal}}

    {{#ifequal type 'asuransi'}}
    <table class="ft-nw__wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
      <tr>
        <td width="180px" align="center">
          <a href="https://www.tokopedia.com/p/handphone-tablet" target="_blank">
            <div class="ft-nw-footer__product-img">
              <table>
                <tbody>
                  <tr>
                    <td class="img-container" align="center" valign="middle">
                      <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-proteksi-gadget.png"
                        alt="Icon Proteksi Gadget" height="35" class="img" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <table>
              <tbody>
                <tr>
                  <td class="ft-nw-footer__product" align="center">
                    <p class="title">Proteksi Gadget</p>
                    <p class="desc desc--three">Lindungi perangkat dari kerusakan yang tidak tercakup oleh garansiresmi
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </a>
        </td>
        <td width="16px"></td>
        <td width="180px" align="center">
          <a href="https://www.tokopedia.com/flight/" target="_blank">
            <div class="ft-nw-footer__product-img">
              <table>
                <tbody>
                  <tr>
                    <td align="center">
                      <div class="img-container">
                        <img
                          src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-asuransi-penerbangan.png"
                          alt="Icon Tokopedia Asuransi Penerbangan" height="35" class="img" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <table>
              <tbody>
                <tr>
                  <td class="ft-nw-footer__product" align="center">
                    <p class="title">Asuransi Penerbangan</p>
                    <p class="desc desc--three">Dapatkan biaya kompensasi untuk setiap 2 jam keterlambatan perjalanan
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </a>
        </td>
        <td width="16px"></td>
        <td width="180px" align="center">
          <a href="https://tiket.tokopedia.com/kereta-api/" target="_blank">
            <div class="ft-nw-footer__product-img">
              <table>
                <tbody>
                  <tr>
                    <td align="center">
                      <div class="img-container">
                        <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-asuransi-kereta.png"
                          alt="Icon Tokopedia Asuransi Kereta Api" height="35" class="img" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <table>
              <tbody>
                <tr>
                  <td class="ft-nw-footer__product" align="center">
                    <p class="title">Asuransi Kereta Api</p>
                    <p class="desc desc--three">Dapatkan biaya kompensasi untuk untuk setiap pembatalan perjalanan</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </a>

        </td>
      </tr>
    </table>
    {{/ifequal}}

    {{#ifequal type 'lending'}}
    <table class="ft-nw__wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
      <tr>
        <td width="180px" align="center">
          <a href="https://www.tokopedia.com/mitra-toppers/" target="_blank">
            <div class="ft-nw-footer__product-img">
              <table>
                <tbody>
                  <tr>
                    <td class="img-container" align="center" valign="middle">
                      <img
                        src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-pinjaman-modal_tokopedia.png"
                        alt="Icon Tokopedia Pinjaman Modal" height="35" class="img" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <table>
              <tbody>
                <tr>
                  <td class="ft-nw-footer__product" align="center">
                    <p class="title">Pinjaman Modal</p>
                    <p class="desc desc--three">
                      Dapatkan pinjaman modal hingga Rp 5 Milyar
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </a>
        </td>
        <td width="16px"></td>
        <td width="180px" align="center">
          <a href="https://www.tokopedia.com/pinjaman-online/" target="_blank">
            <div class="ft-nw-footer__product-img">
              <table>
                <tbody>
                  <tr>
                    <td align="center">
                      <div class="img-container">
                        <img
                          src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-pinjaman-online_tokopedia.png"
                          alt="Icon Tokopedia Pinjaman Online" height="35" class="img" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <table>
              <tbody>
                <tr>
                  <td class="ft-nw-footer__product" align="center">
                    <p class="title">Pinjaman Online</p>
                    <p class="desc desc--three">
                      Proses pencairan cepat 1-3 hari kerja
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </a>
        </td>
        <td width="16px"></td>
        <td width="180px" align="center">
          <a href="https://www.tokopedia.com/kartu-kredit/" target="_blank">
            <div class="ft-nw-footer__product-img">
              <table>
                <tbody>
                  <tr>
                    <td align="center">
                      <div class="img-container">
                        <img
                          src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-kartu-kredit_tokopedia.png"
                          alt="Icon Tokopedia Kartu Kredit" height="35" class="img" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <table>
              <tbody>
                <tr>
                  <td class="ft-nw-footer__product" align="center">
                    <p class="title">Kartu Kredit</p>
                    <p class="desc desc--three">
                      Ajukan kartu kredit yang sesuai dengan kebutuhan
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </a>

        </td>
      </tr>
    </table>
    {{/ifequal}}

<tr>
  <td class="padding-xy24">
    <table class="ft-nw__wrapper" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td align="left" width="300">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <p class="ft-nw-footer__follow-title">
                  Download Aplikasi Tokopedia
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td class="ft-nw-footer__follow-dev">
                      <a target="_blank" href="https://itunes.apple.com/us/app/tokopedia/id1001394201?ls=1&mt=8">
                        <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-app-store_tokopedia.png"
                          alt="App Store" height="24" />
                      </a>
                    </td>
                    <td class="ft-nw-footer__follow-dev">
                      <a target="_blank" href="https://play.google.com/store/apps/details?id=com.tokopedia.tkpd&hl=en">
                        <img
                          src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-google-play_tokopedia.png"
                          alt="Play Store" height="24" />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>

        <td align="right" width="300">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="right">
                <p class="ft-nw-footer__follow-title">Ikuti Kami</p>
              </td>
            </tr>
            <tr>
              <td>
                <ul class="ft-nw-footer__follow-socmed">
                  <li>
                    <a target="_blank" href="https://www.facebook.com/tokopedia/">
                      <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/ic-fb-nw.png"
                        alt="Logo Facebook" height="24" />
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://twitter.com/tokopedia/">
                      <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/ic-twitter-nw.png"
                        alt="Logo Twitter" height="24" />
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://www.instagram.com/tokopedia/">
                      <img src="https://ecs7.tokopedia.net/assets-fintech-email/img/icon/ic-ig-nw.png"
                        alt="Logo Instagram" height="24" />
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td class="padding-x24">
    <table class="ft-nw-footer__contact full" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td class="padding-y24">
          Jika butuh bantuan, gunakan halaman
          <a target="_blank" href="https://www.tokopedia.com/bantuan">kontak kami</a>
          <br />
          &copy; 2009-2019, PT Tokopedia
        </td>
      </tr>
    </table>
  </td>
</tr>