<tr>
    <td class="padding-y16 padding-x24 ft-giftcard__intro" align="center">
        Kiriman Gift Card senilai
        <br />
        <b>Rp100.000</b>
    </td>
</tr>

<tr>
    <td class="padding-y16 padding-x24">
        <table cellpadding="0" cellspacing="0" align="center">
            <tr>
                <td class="ft-giftcard__box" align="center" width="250">
                    <span>KODE VOUCHER GIFT CARD</span>
                    <p>CITI-1234-1234-1234</p>
                    <span>Berlaku hingga 31 Mei 2018</span>
                </td>
            </tr>
        </table>
    </td>
</tr>