<tr>
  <td class="padding-xy24">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          {{#ifequal type 'dhanapala'}}
          <a target="_blank" href="http://dhanapala.id/">
            <img class="ft-product__logo"
              src="http://drive.google.com/uc?export=view&id=19epd7w8MRFV7zP8pwwAvDbY5EBknvhtn"
              alt="Logo Dhanapala - " />
          </a>
          {{/ifequal}}

          {{#ifequal type 'tokoswipe'}}
          <a target="_blank" href="https://www.tokopedia.com/tokoswipe/">
            <img class="ft-product__logo"
              src="https://ecs7.tokopedia.net/assets-vcc-frontend/prod/logo-ovo-paylater-beta.png"
              alt="Tokopedia OVO Paylater - " />
          </a>
          {{/ifequal}}

          {{#ifequal type 'pinjaman-online'}}
          <a target="_blank" href="https://www.tokopedia.com/pinjaman-online/">
            <img class="ft-product__logo"
              src="https://ecs7.tokopedia.net/img/wallet/email/logo-personal-loan_tokopedia.png"
              alt="Tokopedia Pinjaman Online - " />
          </a>
          {{/ifequal}}

          {{#ifequal type 'kartu-kredit'}}
          <a target="_blank" href="https://www.tokopedia.com/kartu-kredit/">
            <img class="ft-product__logo"
              src="https://ecs7.tokopedia.net/img/wallet/email/logo-credit-card_tokopedia.png"
              alt="Tokopedia Kartu Kredit - " />
          </a>
          {{/ifequal}}

          {{#ifequal type 'asuransi'}}
          <a target="_blank" href="https://www.tokopedia.com/asuransi/">
            <img class="ft-product__logo" src="https://ecs7.tokopedia.net/img/wallet/email/logo-insurance_tokopedia.png"
              alt="Tokopedia Asuransi - " />
          </a>
          {{/ifequal}}

          {{#ifequal type 'reksadana'}}
          <a target="_blank" href="https://www.tokopedia.com/reksa-dana/">
            <img class="ft-product__logo" src="https://ecs7.tokopedia.net/img/wallet/email/logo-reksadana_tokopedia.png"
              alt="Tokopedia Reksadana - " />
          </a>
          {{/ifequal}}

          {{#ifequal type 'emas'}}
          <a target="_blank" href="https://www.tokopedia.com/emas/">
            <img class="ft-product__logo" src="https://ecs7.tokopedia.net/img/wallet/email/logo-egold_tokopedia.png"
              alt="Tokopedia Emas - " />
          </a>
          {{/ifequal}}

          {{#ifequal type 'saldo-prioritas'}}
          <a target="_blank" href="https://www.tokopedia.com/saldo-prioritas/">
            <img class="ft-product__logo"
              src="https://ecs7.tokopedia.net/img/wallet/email/saldo-prioritas/logo-saldoprioritas.png"
              alt="Tokopedia Saldo Prioritas - " />
          </a>
          {{/ifequal}}

          {{#ifequal type 'gift-card'}}
          <a target="_blank" href="#">
            <img class="ft-product__logo"
              src="https://ecs7.tokopedia.net/assets-fintech-email/img/logo/logo-tokopedia-giftcard.png"
              alt="Tokopedia Gift Card - " />
          </a>
          {{/ifequal}}

          {{#ifequal type 'purchase-protection'}}
          <a target="_blank" href="#">
            <img class="ft-product__logo"
              src="https://ecs7.tokopedia.net/assets-fintech-email/img/logo/logo-tokopedia-proteksi-gadget.png"
              alt="Tokopedia Proteksi Gadget - " />
          </a>
          {{/ifequal}}

          {{#ifequal type 'vcc-mandiri'}}
          <a target="_blank" href="#">
            <img class="ft-product__logo"
              src="https://ecs7.tokopedia.net/assets-fintech-email/img/logo/logo-tokopedia-mandiri-kartu-kredit.png"
              alt="Tokopedia VCC Mandiri - " />
          </a>
          {{/ifequal}}

          {{#ifequal type 'modal-toko'}}
          <a target="_blank" href="#">
            <img class="ft-product__logo"
              src="https://ecs7.tokopedia.net/assets-fintech-email/img/modal-toko/ic-modal-toko.png"
              alt="Tokopedia Modal Toko - " />
          </a>
          {{/ifequal}}

          {{#ifequal type 'asuransi-mudik'}}
          <a target="_blank" href="#">
            <img class="ft-product__logo"
              src="https://ecs7.tokopedia.net/assets-fintech-email/img/logo/logo-tokopedia-asuransi-mudik.png"
              alt="Tokopedia Asuransi Mudik - " />
          </a>
          {{/ifequal}}

          {{#ifequal type 'tokopedia'}}
          <a target="_blank" href="https://www.tokopedia.com/">
            <img class="ft-product__logo"
              src="https://ecs7.tokopedia.net/assets-fintech-email/img/logo/logo-tokopedia.png" alt="Logo Tokopedia" />
          </a>
          {{/ifequal}}
        </td>
      </tr>
    </table>
  </td>
</tr>