<tr>
  <td style="max-width: 600px !important;" class="padding-b16 padding-x24">
    <table class="full" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td class="ft-nw-intro__img">
          <img width="300" src="{{ iconUrl }}" alt="{{ iconAlt }}" />
        </td>
      </tr>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <p class="ft-nw-intro__name">Hello {{ userName }},</p>
          <p class="ft-nw-intro__title"><b>{{ iconDesc }}</b></p>
        </td>
      </tr>
    </table>
  </td>
</tr>