<tr>
  <td class="padding-y16 padding-x24">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <p class="ft-intro__title">Halo, {{ userName }}</p>
        </td>
      </tr>
    </table>

    <table class="full" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td class="ft-intro__content">
          <img height="80" src="{{ iconUrl }}" alt="{{ iconAlt }}" />
          <p>
            <b>{{ iconDesc }}</b>
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
