/* Base Color */
$white-base: #ffffff;
$green-base: #42b549;
$orange-base: #ff5722;
$red-base: #d50000;
/* Black */
$black-base: rgba(0, 0, 0, 0.7);
$black-light: rgba(0, 0, 0, 0.54);
$black-lighter: rgba(0, 0, 0, 0.38);
$black-disabled: rgba(0, 0, 0, 0.18);
/* Green */
$green-apple: #399c3f;
$green-feta: #f3fef3;
/* Gray */
$gray-alabaster: #f8f8f8;
$gray-wild-sand: #f6f6f6;
$gray-seashell: #f1f1f1;
$gray-alto: #e0e0e0;
$gray-gallery: #efefef;
/* Red */
$red-alizarin-crimson: #ea212d;
$red-carnation: #f05f68;
/* Yellow */
$yellow-amber: #ffc107;
$yellow-warning: #fffae6;
