/* Base Color */
$white-base: #FFFFFF;
$green-base: #42B549;
$orange-base: #FF5722;
$red-base: #D50000;
/* Black */
$black-base: rgba(0, 0, 0, 0.7);
$black-light: rgba(0, 0, 0, 0.54);
$black-lighter: rgba(0, 0, 0, 0.38);
$black-disabled: rgba(0, 0, 0, 0.18);
/* Green */
$green-apple: #399C3F;
$green-feta: #F3FEF3;
/* Gray */
$gray-alabaster: #F8F8F8;
$gray-wild-sand: #F6F6F6;
$gray-seashell: #F1F1F1;
$gray-alto: #E0E0E0;
$gray-gallery: #EFEFEF;
/* Red */
$red-alizarin-crimson: #EA212D;
$red-carnation: #F05F68;
/* Yellow */
$yellow-amber: #FFC107;