@import './color';
@import './typography';

page {
  background: white;
  display: block;
  margin: 0.5cm auto;
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
  font-family: "GothamPro";
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}

.ft-pdf-gc {
  &__container {
    width: 100%;
    height: 100%;

    .label {
      &--small {
        font-size: 9px;
        color: $black-light;
        margin: 2px 0;
      }

      &--medium {
        font-size: 10px;
        color: $black-light;
        margin-bottom: 16px;
      }

      &--large {
        font-size: 14px;
        color: $black-light;
        margin-bottom: 16px;
      }

      &--amount {
        font-size: 18px;
        font-weight: bold;
        color: $black-base;
        margin: 16px;
      }

      &--code {
        font-size: 18px;
        font-weight: bold;
        color: $black-base;
        margin: 0;
      }

      &--info {
        font-size: 10px;
        color: $black-lighter;
      }
    }

    .line-spacer {
      border: 1px solid $gray-alto;
      margin: 8px 0;

      &--partial {
        width: 50px;
        margin: 4px auto;
      }
    }
  }
  &__section {
    width: 50%;
    height: 50%;

    &--left {
      display: inline-block;
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Safari 3-8 */
      transform: rotate(90deg);
    }

    &--right {
      display: inline-block;
      -ms-transform: rotate(-90deg); /* IE 9 */
      -webkit-transform: rotate(-90deg); /* Safari 3-8 */
      transform: rotate(-90deg);
    }

    &.center {
      text-align: center;
    }
  }
  &__section-div {
    width: 49%;
    height: calc(27cm/2);
    display: inline-block;

    &.center {
      text-align: center;
    }

    &.image {
      -ms-transform: translate(0, -5px);
      -webkit-transform: translate(0, -5px);
      transform: translate(0, -5px);
    }

    &.how {
      -ms-transform: translate(0, -69px);
      -webkit-transform: translate(0, -69px);
      transform: translate(0, -69px);
    }

    &--code {
      -ms-transform: rotate(90deg) translate(21%,15%); /* IE 9 */
      -webkit-transform: rotate(90deg) translate(21%,15%); /* Safari 3-8 */
      transform: rotate(90deg) translate(21%,15%);
      width: calc(26cm/2);
    }

    &--image {
      -ms-transform: rotate(-90deg) translate(-22%,-14%); /* IE 9 */
      -webkit-transform: rotate(-90deg) translate(-22%,-14%); /* Safari 3-8 */
      transform: rotate(-90deg) translate(-22%,-14%);
      width: calc(25.5cm/2);
    }

    &--msg {
      -ms-transform: rotate(90deg) translate(35%,19%); /* IE 9 */
      -webkit-transform: rotate(90deg) translate(35%,19%); /* Safari 3-8 */
      transform: rotate(90deg) translate(35%,19%);
      width: calc(25.5cm/2);
    }

    &--how {
      -ms-transform:  rotate(-90deg) translate(-40%,-16%); /* IE 9 */
      -webkit-transform:  rotate(-90deg) translate(-40%,-16%); /* Safari 3-8 */
      transform: rotate(-90deg) translate(-40%,-16%);
      width: calc(25cm/2);
    }
  }
  &__seperator {
    margin-bottom: 16px;
  }
  &__code {
    position: relative;
    .code-container {
      width: 216px;
      height: 90px;
      margin: 16px auto;
    }

    .content {
      position: absolute;
      top: 33px;
      left: 120px;
      text-align: left;
      width: 150px;
    }

    .content-div {
      position: absolute;
      top: 33px;
      text-align: left;
      width: 150px;
      left: 175px;
    }
  }
  &__message {
    position: relative;
    &--background {
      width: 100%;
      height: 100%;
    }

    &--to {
      position: absolute;
      left: 45px;
      top: 5px;
      font-size: 14px;
      font-weight: bold;
    }

    &--from {
      position: absolute;
      left: 340px;
      bottom: 0;
      font-size: 14px;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 70px;
    }

    &--div-to {
      position: absolute;
      left: 50px;
      top: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    &--div-from {
      position: absolute;
      left: 420px;
      bottom: 0;
      font-size: 14px;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 70px;
    }

    &--div-msg {
      position: absolute;
      left: 28px;
      right: 28px;
      bottom: 0;
      top: 0;

      .content-msg {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
      }
    }
  }
  &__how {
    font-size: 9px;
    .list-how {
      list-style: none;
      padding: 0;

      &--list {
        counter-increment: item;
        margin-bottom: 10px;
        &:before {
          content: '';
          display: inline-block;
        }
        .counter {
          display: inline-block;
          padding: 2px;
          border-radius: 100%;
          color: #fff;
          width: 20px;
          height: 20px;
          line-height: 2;
          background-color: rgba(0,0,0,.7);
          text-align: center;
          margin-right: 12px;
        }
      }
    }

    .list-unordered {
      li {
        margin: 12px 0;
        margin-left: 15px;
      }
    }
  }
  &__box {
    margin-top: 16px;
    border: 1px solid $gray-alto;
    border-radius: 12px;
    color: $black-lighter;
    font-size: 9px;

    .list-unordered {
      li {
        margin: 12px 0;
        margin-left: -8px;
      }
    }
  }
}