@import "./color";
@import "./typography";

.ft-nw__wrapper {
  width: 100%;
  min-width: 100%;
}

/* intro */
.ft-nw-intro {
  &__img {
    margin-bottom: 16px;
    text-align: center;
  }

  &__name {
    font-size: 16px;
    color: $black-base;
    margin: 16px 0 0;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: $black-base;
    margin: 8px 0 0 0;
  }
}

/* end of intro */

/* table summary */
.ft-nw-table {
  &__summary {
    .title {
      margin: 0 0 16px;
      font-size: 16px;
    }

    p {
      line-height: 1.5;
    }

    small {
      line-height: 2;
    }

    &-content {
      width: 100%;
      min-width: 100%;
      padding: 16px;
      background-color: #f3f4f5;
      border-radius: 8px;

      tr> {

        td,
        th {
          padding: 10px 0;
          vertical-align: top;

          p {
            margin: 0;
          }
        }
      }
    }
  }
}

/* end of table summary */

/* footer */
.ft-nw-footer {
  &__reminder {
    margin: 0 0 24px;
    padding-top: 16px;
    font-size: $font-size-caption;
    color: $black-base;
  }

  &__product-img {
    height: 38px;
    z-index: 2;

    .img-container {
      height: 52px;
      width: 52px;
      border-radius: 20px;
      border: 1px solid $gray-alto;
      padding: 4px;
      background-color: #fff;
      display: inline-block;

      .img {
        padding: 8px;
      }
    }
  }

  &__product {
    display: block;
    padding: 34px 8px 16px 8px;
    color: $black-light;
    border: 1px solid $gray-alto;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    z-index: 1;

    .title {
      font-size: 14px;
      color: $black-base;
      text-align: center;
      margin: 0;
      font-weight: bold;
    }

    .desc {
      margin: 8px 32px 0 32px;
      font-size: 12px;
      color: $black-base;
      text-align: center;

      &--three {
        margin: 4px 0 0 0;
      }
    }
  }

  &__follow {
    &-title {
      margin: 0 0 8px;
      font-size: $font-size-caption;
      color: $black-base;
    }

    &-dev {
      a {
        display: block;
        margin-right: 4px;
      }
    }

    &-socmed {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin: 0;

        &:nth-child(2) {
          padding: 0 8px 0 16px;
        }

      }
    }
  }

  &__contact {
    font-size: $font-size-caption;
    color: $black-lighter;
    border-top: 1px solid $gray-alto;
    text-align: center;

    a {
      color: #03ac0e;
    }
  }
}

/* end of footer */