@import './color';
@import './typography';

html,
body {
  margin: 0;
  color: $black-base;
  background-color: $gray-alabaster;
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size-body;
  font-weight: 400;
  box-sizing: border-box;
}

strong,
b {
  font-weight: bold;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;

  &.full {
    width: 100%;
    min-width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

small {
  font-size: $font-size-caption;
  color: $black-lighter;
}

ol {
  margin: 0;
  padding-left: 16px;
}

.ft-btn {
  display: inline-block;
  padding: 0 24px;
  color: $white-base;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;

  &.green {
    background-color: $green-base;
  }

  &.orange {
    background-color: $orange-base;
  }

  &.ghost {
    background-color: $white-base;
    color: $black-lighter;
    border: 1px solid $gray-alto;
  }

  &.large {
    height: 48px;
    line-height: 48px;
  }

  &.medium {
    height: 40px;
    line-height: 40px;
  }

  &.small {
    font-size: 12px;
    height: 32px;
    line-height: 32px;
  }

  &.block {
    display: block;
    width: 100%;
  }
}

.ft-info__container {
  width: 100%;
  min-width: 100%;
  padding: 16px;
  background-color: $gray-alabaster;
  border-radius: 4px;

  td {
    vertical-align: top;
  }

  .ft-info__list {
    margin: 8px 0 0;
    font-size: $font-size-caption;
    // color: $black-lighter;
    li {
      margin-bottom: 8px;
    }
  }
}
.ft-info__icon {
  height: 56px;
  width: 56px;
}
.icon-info {
  background-image: url('https://ecs7.tokopedia.net/assets-fintech-email/img/asuransi/icon-info.png');
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  width: 32px;
  height: 32px;
  margin-top: -4px;
  margin-right: 8px;
}
.ft-info__title {
  margin: 0;
  padding-left: 16px;
  font-size: $font-size-subheader;
}

.ft-ticker {
  padding: 8px 16px;
  margin: 0;
  color: $black-light;
  font-size: 13px;
  border-radius: 4px;
  background-color: #fffbcd;
  border: solid 1px #ecdb77;
}

.ft-link {
  color: $green-apple;
}

.ft-giftcard {
  &__intro {
    font-size: $font-size-caption;
  }

  &__box {
    padding: 16px;
    border: 1px solid $gray-alto;
    border-radius: 4px;

    span {
      font-size: $font-size-caption;
    }

    p {
      margin: 8px 0;
      color: $green-base;
      font-size: $font-size-title;
      font-weight: bold;
    }
  }
}

.ft-giftcard__container {
  padding: 56px 24px 64px;
  background-image: url('https://ecs7.tokopedia.net/assets-fintech-email/img/gift-card/background-illustration.png');
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

.ft-giftcard__content {
  &__top {
    margin: auto;
    padding: 16px;
    width: 435px !important;
    color: $white-base;
    border-radius: 8px 8px 0 0;

    background-image: url('https://ecs7.tokopedia.net/assets-fintech-email/img/gift-card/card-design-toped.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .giftcard__amount {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }

    .giftcard__validity {
      margin: 175px 0 0;
      font-size: 14px;
    }
  }

  &__bottom {
    margin: auto;
    padding: 16px;
    width: 435px !important;
    background-color: $white-base;
    border-radius: 0 0 8px 8px;

    &--payment {
      border: 1px solid $gray-alto;
    }

    .giftcard__receiver {
      margin: 0;
      font-size: 24px;
    }

    .giftcard__message {
      margin: 8px 0;
      padding-bottom: 24px;
      border-bottom: 1px solid $gray-alto;
      font-size: 14px;
      color: $black-lighter;
    }

    .giftcard__sender {
      margin: 8px 0 0;
      font-size: 12px;
      color: $black-base;

      span {
        padding-right: 8px;
        color: $black-lighter;
        font-style: italic;
      }
    }
  }

  &__code {
    margin: 24px auto 0;
    width: 435px !important;
    background-color: $white-base;
    border-radius: 8px;

    .giftcard__label {
      margin: 0;
      font-size: 14px;
    }

    .giftcard__code {
      margin: 8px 0 0;
      font-size: $font-size-title;
    }

    .giftcard__button {
      border-left: 1px dashed $gray-alto;
    }
  }
}

/* Header */
.ft-product__logo {
  height: 35px;
}

/* end of Header */

/* Intro */
.ft-intro {
  &__title {
    margin: 0 0 16px;
    font-size: 20px;
  }

  &__content {
    padding: 24px;
    border: 1px solid $gray-alto;
    border-radius: 8px;
    background-color: $white-base;
    text-align: center;

    p {
      margin: 16px 0 0;
      font-size: $font-size-subheader;
    }
  }
}

/* end of Intro */

.ft-body {
  &__container {
    width: 640px;
    margin: 40px auto 24px;
    background-color: $white-base;
    border: 1px solid $gray-alto;
  }
}

.ft-card {
  p {
    margin: 0 0 16px;
    font-size: 20px;
  }

  &__content {
    border: 1px solid $gray-alto;
    border-radius: 4px;

    .card-content__header {
      padding: 8px;

      p {
        margin: 8px 0;
        font-size: $font-size-body;
        font-weight: bold;
      }
    }

    .card-content__body {
      padding: 16px 8px;
      border-top: 1px solid $gray-alto;
      border-bottom: 1px solid $gray-alto;

      p {
        margin: 0;

        &:nth-child(odd) {
          display: block;
          font-size: $font-size-caption;
          color: $black-lighter;
        }

        &:nth-child(even) {
          margin-bottom: 16px;
          font-size: $font-size-body;
          font-weight: bold;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .card-content__footer {
      padding: 8px;

      a {
        font-size: $font-size-caption;
        color: $green-apple;
      }
    }
  }
}

.ft-table {
  &__summary {
    p {
      margin: 0 0 16px;
      font-size: 20px;
    }

    &-content {
      width: 100%;
      min-width: 100%;

      tr > {
        td,
        th {
          padding: 8px 0;
          border-bottom: 1px solid $gray-alto;
        }
      }

      tr:last-child > td {
        border-bottom: none;
      }
    }

    .column__payment {
      img {
        display: inline-block;
        margin-right: 4px;
        vertical-align: middle;
      }

      span {
        font-size: $font-size-caption;
        color: $black-lighter;
      }
    }
  }
}

/* Gift Card Style */
.ft-giftcard__intro {
  &__title {
    margin: 0 0 24px;
    font-size: 20px;
  }

  &__desc {
    margin: 0;
    color: $black-light;
  }
}

.ft-giftcard__redeem {
  &__title {
    margin: 0 0 16px;
    font-size: 20px;
  }

  &__desc {
    margin: 16px 0 0;
    font-size: $font-size-caption;
    color: $black-lighter;
  }
}

/* end of Gift Card Style */

.ft-contact {
  margin: 0;
  font-size: $font-size-caption;
  color: $black-light;
}

/* Footer */
.ft-footer {
  &__reminder {
    margin: 0 0 24px;
    padding-top: 16px;
    font-size: $font-size-caption;
    color: $black-lighter;
    border-top: 1px solid $gray-alto;
  }

  &__product {
    display: block;
    padding: 16px;
    border: 1px solid $gray-alto;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;

    p {
      margin: 16px 0 0;
      font-size: $font-size-caption;
      color: $black-light;
      text-align: center;
    }
  }

  &__follow {
    &-title {
      margin: 0 0 8px;
      font-size: $font-size-caption;
      color: $black-light;
    }

    &-dev {
      a {
        display: block;
        margin-right: 4px;
      }
    }

    &-socmed {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin: 0 2px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__contact {
    font-size: $font-size-caption;
    color: $black-lighter;
    border-top: 1px solid $gray-alto;
    background-color: $gray-alabaster;
    text-align: center;

    a {
      color: $green-apple;
    }
  }
}

/* End of Footer */

/* Onboarding Styles */
.section__onboarding--wrapper {
  padding: 16px;
  font-size: 14px;
  max-width: 640px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .onboarding__label {
    margin: 0;
    font-size: $font-size-caption;
    color: $black-lighter;
    text-align: center;
  }

  .onboarding__title {
    margin: 8px 0 24px;
    font-size: 56px;
    line-height: 0.85;
    text-align: center;

    span {
      font-size: 56px;
      color: $green-base;
    }
  }

  .onboarding__desc {
    margin: 0;
    font-size: $font-size-subheader;
    text-align: center;
  }

  .onboarding__steps {
    position: relative;
    padding: 24px 24px 40px;
    margin: 24px 0 40px;
    max-height: 275px;
    overflow-y: scroll;
    background-color: $white-base;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    list-style-position: inside;
    box-sizing: border-box;

    &::after {
      content: '';
      display: block;
      height: 50px;
      width: calc(100% - 48px);
      position: fixed;
      left: 24px;
      bottom: 75px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    }
  }

  .onboarding__thanks {
    margin: 0;
    font-size: $font-size-body;
    color: $black-lighter;
    text-align: center;
  }

  pre {
    margin: 16px 0 24px;
    padding: 16px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
  }
}

/* end of Onboarding Styles */
