@font-face {
  font-family: GothamPro;
  src: url(https://ecs7.tokopedia.net/assets-giftcard-frontend/production/img/pdf/font-new/GothamPro-Bold.eot);
  src: url(https://ecs7.tokopedia.net/assets-giftcard-frontend/production/img/pdf/font-new/GothamPro-Bold.woff2) format("woff2"),url(https://ecs7.tokopedia.net/assets-giftcard-frontend/production/img/pdf/font-new/GothamPro-Bold.woff) format("woff"),url(https://ecs7.tokopedia.net/assets-giftcard-frontend/production/img/pdf/font-new/GothamPro-Bold.ttf) format("truetype"),url(https://ecs7.tokopedia.net/assets-giftcard-frontend/production/img/pdf/font-new/GothamPro-Bold.eot?#iefix) format("embedded-opentype");
  font-weight: 600;
  font-style: normal
}


@font-face {
  font-family: GothamPro;
  src: url(https://ecs7.tokopedia.net/assets-giftcard-frontend/production/img/pdf/font-new/GothamPro-Medium.eot);
  src: url(https://ecs7.tokopedia.net/assets-giftcard-frontend/production/img/pdf/font-new/GothamPro-Medium.woff2) format("woff2"),url(https://ecs7.tokopedia.net/assets-giftcard-frontend/production/img/pdf/font-new/GothamPro-Medium.woff) format("woff"),url(https://ecs7.tokopedia.net/assets-giftcard-frontend/production/img/pdf/font-new/GothamPro-Medium.ttf) format("truetype"),url(https://ecs7.tokopedia.net/assets-giftcard-frontend/production/img/pdf/font-new/GothamPro-Medium.eot?#iefix) format("embedded-opentype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: GothamPro;
  src: url(https://ecs7.tokopedia.net/assets-giftcard-frontend/production/img/pdf/font-new/GothamPro-MediumItalic.eot);
  src: url(https://ecs7.tokopedia.net/assets-giftcard-frontend/production/img/pdf/font-new/GothamPro-MediumItalic.woff2) format("woff2"),url(https://ecs7.tokopedia.net/assets-giftcard-frontend/production/img/pdf/font-new/GothamPro-MediumItalic.woff) format("woff"),url(https://ecs7.tokopedia.net/assets-giftcard-frontend/production/img/pdf/font-new/GothamPro-MediumItalic.ttf) format("truetype"),url(https://ecs7.tokopedia.net/assets-giftcard-frontend/production/img/pdf/font-new/GothamPro-MediumItalic.eot?#iefix) format("embedded-opentype");
  font-weight: 400;
  font-style: italic
}